:root {
  --white: #E8F0FF;
  --black: #040407;
  --light-black: #3d3d3d;
  --red: #701013;
  --deep-orange: #E55F25;
  --light-orange: #ce7d47;
}

html,
body {
  width: 100%;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.15em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--white)
}

h2 {
  margin: 0 0 1.5em 0;
  padding: 0;
}

p {
  margin: 0 0 1em 0;
  padding: 0;
}

div.basic-code-blocks {
  width: 100%;
  margin-bottom: 2em;
}

div.basic-code-blocks > code {
  display: block;
  padding: 1em 0 0 1em;
  color: rgb(214, 222, 235);
  background-color: rgb(1, 22, 39);
  width: 100%;
  min-height: 50px;
}

.inline-code {
  color: rgb(0, 0, 0);
  background-color: #c3c3c3;
  font-family: 'Anonymous-Pro', monospace;
}
